<XML>


<HEADING SENTENCE="Menu Shit" TITLE="James' Portfolio Page" />

<menu>

	<item name="MAIN" id="1" columns="1">
			
		<content>
			Need something to write here....## 	
		</content>
		<content>
			#I am currently studying Games Graphics Programming at RMIT in Melbourne and am in my second year 
		</content>
		<content>
			of the course.##I am particularly interested in graphics programming but get a kick out of most programming tasks	
		</content>
		
		<image src="1.jpg" />
		<image src="2.jpg" />
		<image src="3.jpg" />
		<image src="4.jpg" />
		<image src="5.jpg" />
		<image src="6.jpg" />
		<image src="7.jpg" />
		
		<b_image src="B_1.jpg" />
		<b_image src="B_2.jpg" />
		<b_image src="B_3.jpg" />
		<b_image src="B_4.jpg" />
		<b_image src="B_5.jpg" />
		<b_image src="B_6.jpg" />
		<b_image src="B_7.jpg" />
	
			
		
	</item>
	
	
		
	<item name="CONTACT" id="2" columns="1">
		<content>
			Name:James Bailey ##Age:23 ##Location:Melbourne, Victoria, Australia 
		</content>
		<content>
			##Occupation: Student (RMIT - Games Graphics Programming) 
		</content>
		<content>
			##Email: james@trianglesoup.com 
		</content>
		
		<image src="3.jpg" />
		

		<b_image src="B_3.jpg" />

	


	</item>
	
	<item name="WATER" id="3" columns="1">
		<content>
			This is a close to semester long project that I undertook for a course called "Interactive 3D Graphics and Animation"
		</content>
		<content>
			at RMIT. ##The basic idea I set out to implemet was a physics model for a body of water that could be effected by external forces.
		</content>
		<content>
			On top of this the project had a lot of mandatory features such as billboarding particle systems, user controls, and a skybox just to name a few.
		</content>
		<content>
			All these were implemented. The only thing I would have liked to have added to the project is realtime reflections
		</content>
		<content>
			which I did develop however for the size of the body of water I was not able to make them efficient enough without using shaders
		</content>
		<content>
			which I couldn't use on the machine I was developing on.
		</content>
		
		<image src="5.jpg" />
		
		<b_image src="B_5.jpg" />
	
	</item>
	
		<item name="UNPACT" id="9" columns="1">
			

		<content>
			What is it?: ##UT2004 mod based around pac man##
		</content>
		<content>
			Who is it?:##
		</content>

		<content>
			Alex Lester: (2D Art)##
		</content>

		<content>
			Ashim D'Silva: (3D Art/Animation) - www.therandomlines.com##
		</content>

		<content>
			Ben Goodvach-Draffin: (Level building/design)##
		</content>

		<content>
			James Bailey: (Programming)##
		</content>



		<content>
			This was the second mod I worked on and was the major project for the first year course GameStudio2 
		</content>
		<content>
			 which involved bringing students from different streams involved in our course (Design,Art,and Programming) together to work on a collaborative project.			
		</content>
		<content>
			##The result of this project for us was a new game mode for ut2004 called Unpact. This game had a single player as 'Pac Man' at any one time 
		</content>
		<content>
			and in this sense it  was quite similar to the mutant gametype that is part of the core ut2004 packages. 
		</content>
		<content>
			The basic idea is that the current pac man runs around the level collecting the points that are laid out it paths around the level 
		</content>
		<content>
			while the rest of the players (ghosts) had to try to kill pac man so they could become the new pac man.
		</content>
		
		<image src="Pac_1.jpg" />
		<image src="Pac_2.jpg" />
		
		<b_image src="Pac_B_1.jpg" />
		<b_image src="Pac_B_2.jpg" />

	
		
	

			
		
	</item>
	
	<item name="GOD" id ="4" columns="1">
		
		<content>
			Update:: The course that this game was being developed for has a structure that does not lend itself to this project
		</content>
		<content>
			mainly due to time constraints. G.O.D is being put on the back burner and a similar 2D game is being considered
		</content>
		<content>
			for rapid development over a 4 week period.##
		</content>
		<content>
			This project can now be played as it is being developed by clicking on the "LIL MAN"
		</content>
		<content>
			link in the menu.
		</content>
		
		<image src="2.jpg" />
		
		<b_image src="B_2.jpg" />
	</item>
	
	<item name="PHOTOS" id ="5" columms="2">
		<content>
			This is my photography which I have been neglecting of late
		</content>
	<image src="1.jpg" />
		<image src="2.jpg" />
		<image src="3.jpg" />
		<image src="4.jpg" />
		<image src="5.jpg" />
		<image src="6.jpg" />
		<image src="7.jpg" />
		<image src="8.jpg" />
		<image src="9.jpg" />
		<image src="10.jpg" />
		<image src="11.jpg" />
		<image src="12.jpg" />
		<image src="13.jpg" />
		<image src="14.jpg" />
		<image src="15.jpg" />
		<image src="16.jpg" />
		<image src="17.jpg" />
		<image src="18.jpg" />
		<image src="19.jpg" />
		<image src="20.jpg" />
		<image src="21.jpg" />
		<image src="22.jpg" />
		<image src="23.jpg" />
		<image src="24.jpg" />
		<image src="25.jpg" />
		<image src="26.jpg" />
		<image src="27.jpg" />
		<image src="28.jpg" />
		<image src="29.jpg" />
		<image src="30.jpg" />
		<image src="31.jpg" />
		
		
		
		<b_image src="B_1.jpg" />
		<b_image src="B_2.jpg" />
		<b_image src="B_3.jpg" />
		<b_image src="B_4.jpg" />
		<b_image src="B_5.jpg" />
		<b_image src="B_6.jpg" />
		<b_image src="B_7.jpg" />
		<b_image src="B_8.jpg" />
		<b_image src="B_9.jpg" />
		<b_image src="B_10.jpg" />
		<b_image src="B_11.jpg" />
		<b_image src="B_12.jpg" />
		<b_image src="B_13.jpg" />
		<b_image src="B_14.jpg" />
		<b_image src="B_15.jpg" />
		<b_image src="B_16.jpg" />
		<b_image src="B_17.jpg" />
		<b_image src="B_18.jpg" />
		<b_image src="B_19.jpg" />
		<b_image src="B_20.jpg" />
		<b_image src="B_21.jpg" />
		<b_image src="B_22.jpg" />
		<b_image src="B_23.jpg" />
		<b_image src="B_24.jpg" />
		<b_image src="B_25.jpg" />
		<b_image src="B_26.jpg" />
		<b_image src="B_27.jpg" />
		<b_image src="B_28.jpg" />
		<b_image src="B_29.jpg" />
		<b_image src="B_30.jpg" />
		<b_image src="B_31.jpg" />

	
	</item>
	
	<link name="LIL MAN" src="http://raws.adc.rmit.edu.au/~s3155488/" >
	</link>

</menu>
















</XML>
